body {
    font-family: Helvetica, sans-serif;
    margin: 40pt 0 0;
}
a {
    text-decoration: none;
    color: #000;
}

.login {
    background: url("images/login.jpg") no-repeat fixed right center;
    background-size: 75% auto;
    border-radius: 20px;
    min-height: 600px;
}

.signup {
    background: url("images/signup.jpg") no-repeat fixed right center;
    background-size: 75% auto;
    border-radius: 20px;
    min-height: 600px;
}

.text-reset, .text-reset:hover {
    color: white;
}

.agency-signup {
    background: url("images/agency-signup.jpg") no-repeat fixed right center;
    background-size: 75% auto;
    border-radius: 20px;
    min-height: 700px;
}

.center {
    display: flex;
}

.image {
    padding: 0px;
    align-self: center;
    margin-bottom: 40px;
    min-height: 200px;
    min-width: 300px;
}

.form {
    min-height: 400px;
}

.bg-body-tertiary {
    background-color: black;
}

/* Set gray background color and 100% height */
.row.content {height: 1500px}

/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

/* Map height */
#map {
    height: 550px;
}

.city-info {
    min-height: 650px;
}

.description {
    background-color: gray;
}

.city-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.add-sight {
    background-color: lightblue;
}

.recommended-cities {
    padding: 10px;
    margin: 10px;
    background-color: #f9f9f9;
}

.recommended-cities:hover {
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.recommended-cities-a:hover {
    background-color: #f0f0f0;
    text-decoration: none;
    color: black;
}

/* On small screens for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}